# Copyright 2025 Dotanuki Labs
# SPDX-License-Identifier: MIT

name: CD

on: workflow_dispatch

permissions:
  id-token: write
  contents: read
  attestations: write

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-24.04", "macos-15"]

    steps:
      - name: Project Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup CI
        uses: ./.github/actions/setup-rust

      - name: Cross-compilation supported targets
        run: cargo xtasks binaries

      - name: Archive binaries
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: rust-cli-tool-scaffold-binaries-${{ runner.os }}
          path: artifacts

  artifacts:
    needs: build
    runs-on: ubuntu-24.04

    steps:
      - name: Project Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Fetch executable from previous build
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
        with:
          path: artifacts

      - name: Setup CI
        uses: ./.github/actions/setup-rust

      - name: Generate additional artifacts
        run: cargo xtasks artifacts extras

      - name: Archive checksums
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: checksums.txt
          path: artifacts/checksums.txt

      - name: Archive SBOM
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: sbom-${{ github.sha }}.json
          path: crates/rust-cli-tool-scaffold/rust-cli-tool-scaffold.cdx.json

  github-release:
    needs: artifacts
    runs-on: ubuntu-24.04

    steps:
      - name: Project Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Fetch executable from previous build
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
        with:
          path: artifacts

      - name: Build provenance for binaries
        uses: actions/attest-build-provenance@db473fddc028af60658334401dc6fa3ffd8669fd # v2.3.0
        if: false
        with:
          subject-path: artifacts/**/*

      - name: Prepare Github release
        id: prepare-release
        run: |
          version=$(grep 'version' Cargo.toml | head -1 | sed "s/version[[:space:]]=[[:space:]]//g" | tr -d '"')
          echo "version=$version" >>"$GITHUB_OUTPUT"

      - name: Publish draft release on Github
        uses: softprops/action-gh-release@da05d552573ad5aba039eaac05058a918a7bf631 # v2.2.2
        with:
          name: ${{ steps.prepare-release.outputs.version }}
          tag_name: ${{ steps.prepare-release.outputs.version }}
          token: ${{ secrets.DOTANUKI_BOT_TOKEN }}
          generate_release_notes: true
          draft: true
          files: |
            artifacts/**/*
            rust-cli-tool-scaffold.cdx.json

  publish-crate:
    needs: github-release
    runs-on: ubuntu-24.04

    steps:
      - name: Project Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup CI
        uses: ./.github/actions/setup-rust

      - name: Publish on crates.io
        if: false
        run: cargo publish --token ${{ secrets.CRATESIO_PUBLISH_TOKEN }}
