# Copyright 2025 Dotanuki Labs
# SPDX-License-Identifier: MIT

name: Docker

on:
  workflow_call:

jobs:
  build:
    runs-on: warp-ubuntu-2404-arm64-4x

    steps:
      - name: Project Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
        with:
          driver-opts: |
            network=host

      - name: Build Docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          push: false
          tags: "dotanuki-labs/canopus:latest"
          cache-from: type=gha,url=http://127.0.0.1:49160/,version=1
          cache-to: type=gha,url=http://127.0.0.1:49160/,mode=max,version=1
