name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Project Checkout
        uses: actions/checkout@v4.1.1

      - name: Install just
        run: sudo snap install --edge --classic just

      - name: Check code smells
        run: just lint

      - name: Run tests
        run: just test
